//- .panel.panel-default
//-   .panel-heading
//-     h3.panel-title
//-       | #{title} 
//-       span.badge #{priority}
//-   .panel-body
//-     | #{description}
//-   .panel-footer #{date}
//- form(action='/todo/#{id}?_method=DELETE', method='post')
//-   a.btn.btn-default.btn-warning(href='/todo/#{id}/edit', type='button')
//-     | Edit todo
//-   button.btn.btn-default.btn-danger(type='submit')
//-     | Delete todo